commands:
   01updateComposer:
      command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: COMPOSER_HOME
     value: /root

container_commands:        
    01installPackages:
        command: "/usr/bin/composer.phar install"
    02optimize:
        command: "/usr/bin/composer.phar dump-autoload --optimize"
    03storagePermissions:
        command: "chmod -fR 755 /var/app/ondeck/app/storage"
    04uploadPermissions:
        command: "chmod -fR 755 /var/app/ondeck/public/images/managers"
    05uploadPermissions:
        command: "chmod -fR 755 /var/app/ondeck/public/images/offices"
    06databasePermissions:
        command: "chmod -fR 755 /var/app/ondeck/app/database/production.sqlite"